@media only screen and (max-width: 768px) {
    .container_1 {
        background-image: url(../images/cd-intro-bg-mobile.jpg);

        color: white;
        font-size: 4vh;
        line-height: normal;
        width: 100vw;
    }

      header {
        background-color: rgba(0, 0, 0, .5);
        padding: 14px;
        margin: 0;
    }

     h2 {
        margin-bottom: 20px;

    }

    .container_2 p {
        padding-bottom: 50px;
    }

    .container_3 img {
        width: 100%;
    }

    .container_5 div {
        width: 90%;
        height: fit-content;
        padding-bottom: 35px;
    }

    .last_post .content {
        width: 90%;
        height: fit-content;
        padding-bottom: 35px;
        display: inline-block;
    }

    .last_post .content article {
        width: 100%;
    }

    .last_post .content article p {
        padding-bottom: 50px;
    }

    .last_post .content {
        margin-bottom: 50px;
    }

    .contact_us article {
        width: 45%;
        vertical-align: top;
    }

    h6 {
        padding: 20px 0;
    }

    .contact_us article div {
        height: 150px;
    }

    .contact_us article p {
        padding-bottom: 20px;
        word-wrap: break-word;
        font-size: 18px;
    }



    .about_services div article  {
        flex-direction: column;
        display: block;
    }

    .about_services div h2 {
     padding-bottom: 100px;
    }

    .container_about2 p {
        padding: 88px 30px 166px;
    }

    .blog_content_column {
        flex-direction: column;

    }

    .section_blog {
        margin-left: 5%;
        margin-right: 5%;
    }

    .container_blog {
        display: none;
    }

    .section_blog .blog_content_column_2 {
        max-width: 100%;
        padding: 0 30px;
    }

    .container_about  {
        background-image: url(../images/SW_CalebMorris1.jpg);
    }
}




@media only screen and (max-width: 1024px) {

    .about_services {
        flex-direction: column;
    }

    .about_services div {
        background-color: white;
    }

    .about_services article p {
        padding-bottom: 90px;
    }
}