*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #4d5c66;
    text-align: center;
}

header {
    width: 90%;
    margin: 0 5%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 16px;
    z-index: 100;
}

section {
    padding: 78px 0 0;
    max-width: 770px;
    margin: auto;
}

.container_1  {
    background-image: url(../images/cd-intro-bg.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.container_1_1  {
    background-image: url(../images/cd-intro-about-bg.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.container_1_2  {
    background-image: url(../images/project-bg.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center; 
    align-items: center;  
}


.container_1 samp {
    font-style: italic;
}

h4 {
    color: #d4af37;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

p {
    font-size: 20px;
}

h2 {
    margin-bottom: 50px;
    font-size: 40px;
}

a {
    padding: 23px 48px;
    border: solid 1px;
    color: black;
    transition: .3s;
}

a:hover {
    background-color: rgb(214, 214, 214);
}

.container_2 div {
    margin-bottom: 85px;
}

.container_2 p {
    padding-bottom: 100px;
}

.container_3 img {
    width: 24%;
}

.container_5 div {
    width: 250px;
    height: 425px;
    background-color: #f9f9f9;
    margin-top: 50px;
    display: inline-block;
    font-size: 14px;
}

.container_5 article *{
    padding: 0 16px;
    text-align: left;
    padding-top: 20px;
}

.container_5 div img {
    width: 100%;
}

.container_5 article p {
    font-size: 13px;
}

.last_post .content {
    background-color: #f9f9f9;
    display: flex;
    margin-bottom: 100px;  
}

.last_post .content article {
    width: 380px;
    flex-grow: 1;
}

.last_post .content article img {
    width: 100%;
}

.last_post .content article div {
    text-align: left;
    padding: 43px 10px 40px 40px;
}

.last_post .content article h3 {
    padding: 22px 0 35px;
}

.last_post .content article p {
    padding-bottom: 100px;
    font-size: 16px;
}

.last_post .content article a {
    padding: 20px 48px;
}

.contact_us iframe {
    max-width: 770px;
    height: 295px;
}

.contact_us .iframe{
    background-color: #f9f9f9;
    margin-bottom: 80px;
}


.contact_us article {
    width: 380px;
    padding-bottom: 50px;
    display: inline-block;
}

h6 {
    padding: 50px 0;
    font-size: 14px;
}

.contact_us article p {
    padding-bottom: 40px;
}

footer {
    background-color: #eeeeee;
}

footer div {
    max-width: 750px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 35px 10px;
    line-height: 30px;
}

footer p {
    font-size: 15px;
}

.container_about  {
    background-image: url(../images/cd-intro-about-bg.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.container_about2 p {
    padding: 88px 0 166px;
}

.about_services {
    display: flex;
}

.about_services div{
    flex-basis: 50%;
    background-color: #f9f9f9;
    text-align: left;
}

.about_services div img {
    width: 100%;
    height: 100%;
}

.about_services div h2 {
    padding: 50px 0 0 42px;
}

.about_services article {
    display: flex;
    align-items: flex-end;
    
}

.about_services article p {
    flex-basis: 50%;
    text-align: left;
    padding-left: 57px;
    line-height: 40px;
}

.about_services article p:last-child {
    font-weight: bold ;
}

.container_blog {
    background-image: url(../images/cd-intro-blog.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
    
}

.section_blog {
    max-width: 1150px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 80px 0;
    margin-bottom: 80px;
    margin-top: 80px;
}

.section_blog .blog_content_column{
    display: flex;
    justify-content: center;
}

.section_blog article {
    background-color: white;
    padding: 30px 30px 50px;
    text-align: left;
    max-width: 600px;
    box-sizing: content-box;
    margin-bottom: 60px;
}

.section_blog .blog_content_column_1 div {
    max-width: 600px;
    height: auto;
}

.section_blog .blog_content_column_1 div img{
    width: 100%;
    height: 100%;
}

.section_blog .blog_content_column_1 h2 {
    padding: 30px 0;
    color: #000;
    margin: 0;
    font-weight: lighter;
}

.section_blog .blog_content_column_1 time {
    color: #d3b000;
}

.section_blog .blog_content_column_1 p {
    padding: 35px 0 60px;
}

.section_blog .blog_content_column_2 {
    text-align: left;
    padding-left: 60px;
    max-width: 300px;
    font-style: italic;
}

.section_blog .blog_content_column_2 ul {
    padding-bottom: 50px;
}

.section_blog .blog_content_column_2 h3:after {
    content: "";
    display: block;
    height: 3px;
    margin-top: 17px;
    background-color: #d3b000;
    width: 100%;
}

.section_blog .blog_content_column_2 h3 {
    padding-bottom: 35px;
}

.section_blog .blog_content_column_2 ul img {
    width: 100%;
    height: 100%;
}

.section_blog .button {
    padding-top: 30px;
}

.container_contact {
    background-image: url(../images/container_contact.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
    
}

.container_contact_2 div{
    height: 300px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}

.container_contact_2 div p {
    padding: 30px;
    text-align: left;
}


.container_contact_2 div:nth-child(1) {
    background-color: #d3b000;
    color: white;
    width: 33%;
    font-size: 23px;
}

.container_contact_2 div:first-child :before, .container_contact_2 div:last-child :before {
    content: "";
    display: block;
    height: 3px;
    margin-bottom: 50px;
    background-color: white;
    width: 30px;
}

.container_contact_2 div:nth-child(2) {
    width: 66%
}

.container_contact_2 div:nth-child(3) {
    background-color: #f9f9f9;
    width: 66%;
    font-size: 20px;
}

.container_contact_2 div:nth-child(3) p {
    padding: 47px;
}

.container_contact_2 div img {
    width: 100%;
    height: 100%;
}

.container_contact_2 div:nth-child(4) {
    background-color: #212121;
    color: white;
    width: 33%;
    font-size: 20px;
}

.button_contact {
    padding: 80px 0;
}

.container_project {
    background-image: url(../images/project-bg.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.project_content_column {
    display: flex;
    justify-content: center;
    color: black;
}

.project_content_column ul img {
    width: 100%;
    height: auto;
}

.project_content_column ul  {
    padding: 0 20px;
}

.project_content_column ul p {
    padding: 80px 0 140px;
}

.project_content_column ul:first-child {
    text-align: left;
    max-width: 670px;

}

.project_content_column ul:first-child li {
    padding-bottom: 20px;

}


.project_content_column ul:last-child {
    max-width: 300px;
}

.button_project {
    max-width: 1020px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
    
}

.button_project a {
color: #a1a1a1;
}

.section_project {
    max-width: 1150px;
    margin: auto;
    background-color: #f9f9f9;
    padding: 80px 0;
    margin-bottom: 80px;
    margin-top: 80px;
}