* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header {
    max-width: 1185px;
    margin: auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_1  {
}