*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #4d5c66;
    text-align: center;
}

header {
    width: 90%;
    margin: 0 5%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 16px;
}

section {
    padding: 78px 0 0;
    max-width: 770px;
    margin: auto;
}

.container_1  {
    background-image: url(../images/cd-intro-bg.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
    font-size: 5vh;
    line-height: 100vh;

}

.container_1 samp {
    font-style: italic;
}

h4 {
    color: #d4af37;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

p {
    font-size: 20px;
}

h2 {
    margin-bottom: 50px;
    font-size: 40px;
}

a {
    padding: 23px 48px;
    border: solid 1px;
    color: black;
    transition: .3s;
}

a:hover {
    background-color: rgb(214, 214, 214);
}

.container_2 div {
    margin-bottom: 85px;
}

.container_2 p {
    padding-bottom: 100px;
}

.container_3 img {
    width: 24%;
}

.container_5 div {
    width: 250px;
    height: 425px;
    background-color: #f9f9f9;
    margin-top: 50px;
    display: inline-block;
    font-size: 14px;
}

.container_5 article *{
    padding: 0 16px;
    text-align: left;
    padding-top: 20px;
}

.container_5 article p {
    font-size: 13px;
}

.last_post .content {
    background-color: #f9f9f9;
    text-align: left;
    margin-bottom: 100px;  
}

.last_post .content article {
    width: 380px;
    display: inline-block;
    vertical-align: top;
}

.last_post .content article div {
    padding: 43px 10px 40px 40px;
}

.last_post .content article h3 {
    padding: 22px 0 35px;
}

.last_post .content article p {
    padding-bottom: 100px;
    font-size: 16px;
}

.last_post .content article a {
    padding: 20px 48px;
}

.contact_us iframe {
    max-width: 770px;
    height: 295px;
}

.contact_us .iframe{
    background-color: #f9f9f9;
    margin-bottom: 80px;
}

.contact_us article {
    width: 380px;
    height: 416px;
    display: inline-block;
}

h6 {
    padding: 50px 0;
    font-size: 14px;
}

.contact_us article p {
    padding-bottom: 40px;
}

footer {
    background-color: #eeeeee;
}

footer div {
    max-width: 750px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: 15px;
    padding: 44px 0;
}